.index-img {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.index-img img {
    width: 386px;
    height: 555px;
    object-fit: cover;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h1 {
    animation-name: fadeUpAnime1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime1 {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.グラン {
    animation-name: fadeUpAnime2;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime2 {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ルリア {
    animation-name: fadeUpAnime3;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime3 {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ジータ {
    animation-name: fadeUpAnime4;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime4 {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

